<%= form_with(model: new_recipe_food, url: recipe_foods_path, method: :post) do |form| %>
    
    <% if new_recipe_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(new_recipe_food.errors.count, "error") %> prohibited this recipe food from being saved:</h2>

      <ul>
        <% new_recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= form.hidden_field :recipe_id, value: params[:id] %>

    <%= select_tag :food_id, options_from_collection_for_select(@foods, :id, :name), prompt: "Select the food to add" %>

    <div>
      <%= form.label :quantity, style: "display: block" %>
      <%= form.number_field :quantity %>
    </div>
    
    <div>
      <%= form.submit "Add ingredient" %>
    </div>
  <% end %>
