<p style="color: green"><%= notice %></p>

<div class='recipe_container'>
  <%= form_with(model: @recipe, url: "/recipes/#{@recipe.id}", method: :patch, class: 'form_to_public_toggle') do |form| %>
    <%= form.check_box :public, checked: !@recipe.public?, class: 'no_visible'%>

    <% if @recipe.public %>
    <% button_message = 'Make recipe private' %>
    <% button_class = 'make-recipe-private' %>
    <% else %>
    <% button_message = 'Make recipe public' %>
    <% button_class = 'make-recipe-public' %>
    <% end %>

    <%= form.submit "#{button_message}", class: "#{button_class}" %>
  <% end %>

  <%= render @recipe %>
  <div class='recipe_show_links'>
    <%= link_to "Add an ingredient", add_ingredient_recipe_path(@recipe) %> |
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
    <%= link_to "Back to recipes", recipes_path %>
  </div>

  <%= render 'ingredients_list' %>

</div>

<<<<<<< HEAD
<div>
  <%= link_to "Add an ingredient", add_ingredient_recipe_path(@recipe) %> |
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  <%= link_to "Generate shopping list", shopping_list_recipe_path(@recipe) %>
</div>

<%= render 'ingredients_list' %>
=======
<%= button_to "Erase this recipe", @recipe, method: :delete %>
>>>>>>> development
